.fundo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.fundo img {
    margin-top: 68px;
    margin-bottom: 33px;
}
.fundo input {
    margin-bottom: 6px;
}
.fundo button{
    margin-bottom: 25px;
}
