.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 70px;
    background-color: white;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.links {
    font-style: normal;
    font-weight: 500;
    font-size: 17.976px;
    line-height: 22px;
    text-align: center;
    color: #52B6FF;
    text-decoration: none;
}

.porcent {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    position: fixed;
    bottom: 55px;
    right: calc((100vw / 2) - 17px);
}